body {
	background-image: url("../img/husk.png");
	background-attachment: fixed;
	font-family: 'Quicksand', sans-serif;
}
.bg-g {
	background-color: #f7f7f7;
}
section {
	padding: 2em 0;
}
/* BICITEKA */
.bicitk {
	background-image: url("../img/contac.jpg");
	background-size: 100%;
	background-repeat: no-repeat;
	background-attachment: fixed;
}
h1 {
	color: white;
	font-weight: 600;
	font-size: 3em;
}
h2 {
	font-family: 'Ubuntu', sans-serif;
	font-size: 3em;
	font-weight: bold;
}
h5 {
	color: transparent;
	position: absolute;
	top: 25%;
}
#casabiciteka, #quehacemos {
	padding: 2em 0;
}
/* QUE HACEMOS */
.gray {
	background-color: rgba(0,0,0,0.75) !important;
}
#biciteka {
	padding: 18em 0;
}
.nocturno, .ciegas, .todos, .blanca, .urbano, .artecleta {
	padding: 0;
}
.nocturno {
	background-image: url("../img/paseo-nocturno1.jpg");
	background-repeat: no-repeat;
	background-size: 100%;
}
.ciegas {
	background-image: url("../img/paseo-ciegas.jpg");
	background-repeat: no-repeat;
	background-size: 100%;
}
.todos {
	background-image: url("../img/paseo-todos.jpg");
	background-repeat: no-repeat;
	background-size: 100%;
}
.blanca {
	background-image: url("../img/ghostbike.jpg");
	background-repeat: no-repeat;
	background-size: 100%;
}
.urbano {
	background-image: url("../img/urbano.jpg");
	background-repeat: no-repeat;
	background-size: 100%;
}
.artecleta {
	background-image: url("../img/artecleta.jpg");
	background-repeat: no-repeat;
	background-size: 100%;
}
.paseos a {
	color: transparent;
}
.paseos a:hover {
	color: white;
	
	text-decoration: none;
}
.caja:hover {
	background-color: rgba(255, 102, 0, 0.75);
}


/* ---------- CASA BICITEKA -------- */
#carousel {
	padding: 0 !important;
}
.carousel-inner{
  width:100%;
  max-height: 500px !important;
}
.carousel img {
	position: relative;
	top: -135px;
}
@media screen and (max-width: 992px){
	.carousel img {
		position: relative;
		top: 0px;
	}
}
/*.fondo{  
	background-image :url(../img/casa.jpg);
	background-repeat: no-repeat;
	background-position: bottom;
	background-size: 100%;
}*/
.p-3 {
	padding: 3.7em ;
}
.pb-2 {
	padding-bottom: 2em;
}
.p-4 {
	padding: 3em;
}
.m-5 {
	padding: 5em;
}
.p-5 {
	padding: 5em;
}
.m-4{
	margin: 4em;
}
.m-3{
	margin: 3em;
}
.m-3-3{
	margin: 3em 5em;
}
.m-5-0 {
	margin: 5em 0;
}
blockquote{    
    padding: 10px 20px;
    margin: 0 0 20px;
    border-left: 6px solid #ffcc00 !important;
}
blockquote p {
	color: black! important;
    font-size: 17.5px;
    font-weight: 300;
    line-height: 1.25;
}
blockquote h3 {
	font-size: 1.2em;
}
.f-w {
	font-weight: 600;
}
.calendar {
	width: 70%;
}
#comollegar iframe{
	width: 100%;
}

/* ---------- CONTACTO ---------- */
.contacto {
	background-image: url("../img/bicicleta.png");
	background-size: 100%;
	background-attachment: fixed;
}
#contacto {
	color: white;
}
.form-control {
	background-color: rgba(251, 251, 251, 0.54) !important;
}
.f-1-3 {
	font-size: 1.3em;
}


/*---------- REDES SOCIALES ----------*/
#redes-sociales {
	padding: 5em;
	background-color: white;
}
#redes-sociales a {
	color: #404751;
	font-size: 5em;
}

/*---------- FOOTER ----------*/
footer {
	padding: 3em;
	background-image: url("../img/random_grey.png");
	color: white;
}
.info-widget {
	margin: 5em 0;
}
.direccion {
	margin: 10em 0;
}
footer h3 {
	color: #57bae8;
}
.subtitle {
	color: #b8d2e3;
}

/* ----------HEADER---------- */
.section {
	padding: 4em;

}
.bici-l {
	width: 100%;
	height: 70%;
}
.nar {
	color: #ff6600;
}
.ama {
	color: #ffcc00;
}
.ver { 
	color: #2eb82e; 
}
.green {
	color: #00b33c;
}
.encp {
	/*color: #2eb82e;*/
	font-weight: 200 !important;
}
.list {
	font-size: 1.1em;
}
.navbar-default {
	background-color: white;	
}
header li {
	font-size: 1.8em;
	font-family: 'Ubuntu', sans-serif;
}

.txt {
	padding-top: 2em;
}

.im {
	/*width: 100%;*/
	border-radius: 50%;
	margin: 0 auto;
}
.logo {
	width: 10%;
	height: 10%;
}
.pad {
	padding-bottom: 2em;
}
.contact {
	color: #b3003b;
}
header a:hover {
	background-color:  #0080ff;
}
.ima {
	width: 100%;
	height: 100%;
}

.prim { 
	width: 50%;
	margin: 0 auto;
}
.vin {
	margin-top: 3%;
}
#ciclismo blockquote {
	border-left: 6px solid #00b33c !important;
}